# Other ignores

.cache/


### github/gitignore.git
### Elisp.gitignore

# Ignore custom.el
custom.el

# Ignore emacs folders
image-dired/

# Emacs local files
elpa/
transient/

# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# Projectile
/projectile*

# Bookmarks
/bookmarks*

# Org Roam
/org-roam*

# Sqlite databases (eg. Magit Forge)
*.sqlite

# Recentf
recentf

# Ignore LSP session files
.lsp-session-*